* {
/* border: 1px solid gray
 */}

img {
    margin: auto;
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    }

ul {
    position: relative;
    float: right;
    margin-right: 400px;
    margin-top: 30px;
}

li {
    margin-top: 30px;
}


#middle {
    display: block;
     padding: 30px;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
}

#bottom {
    display: block;
    clear: both;

    padding: 70px;
    text-align: center;
    font-size: 20px;
}

#about_me {
    height: 20px;
    width: 30px;
    display: inline

;
    /* margin-left: 50px; */
}
#mycompany {
    height: 20px;
    width: 30px;
    display: inline

}
#contact {
    height: 20px;
    width: 30px;
    display: inline
}
#linkedin {
    height: 20px;
    width: 30px;
    display: inline
}
#github {
    height: 20px;
    width: 30px;
    display: inline
}
#twitter {
    height: 20px;
    width: 30px;
    display: inline
}